body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #000000;
}

button {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 35px;
    height: 100px;
    width: 300px;
}