  .carousel-container {
    width: 85%;
    max-width: 9000px;
    margin: auto;
    position: relative;
    overflow: hidden;
  }

  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }

  .slide img {
    width: 90%;
    display: block;
    margin: auto;
    border-radius: 25px;
  }

  .dots {
    text-align: center;
    margin-top: 10px;
  }

  .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
  }

  .active {
    background-color: #333;
  }